<h1>stock</h1>
<!-- <hr /> -->
<table class="table">
  <tbody>
    <tr>
      <td>warehouse</td>
      <td id="stock--<%= @stock.id %>_warehouse">
        <%= @stock.warehouse.full_address %>
      </td>
    </tr>
    <tr>
      <td>Product</td>
      <td id="stock--<%= @stock.id %>_product">
        <%= @stock.product.name %>
      </td>
    </tr>
    <tr>
      <td>Count</td>
      <td id="stock--<%= @stock.id %>_">
        <%= @stock.count %>
      </td>
    </tr>
  </tbody>
</table>
