<%= form_with model: warehouse, local: true, id: "warehouse-form" do |f| %>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :street %>
        <%= f.text_field :street, class: "form-control" %>
        <%= render_error(warehouse, :street) %>
      </div>
    </div>
    <div class="col-lg col-md-6">
      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, class: "form-control" %>
        <%= render_error(warehouse, :city) %>
      </div>
    </div>
    <div class="col-lg col-md-6">
      <div class="form-group">
        <%= f.label :province %>
        <%= f.text_field :province, class: "form-control" %>
        <%= render_error(warehouse, :province) %>
      </div>
    </div>
  </div>
  <%= f.submit "Save Warehouse", class: "btn btn-primary", id: "submit-button" %>
<% end %>
